html {
  box-sizing: border-box;
}

*,
*::after,
::before {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

:root {
  --bgHighlight: #2d2d2d;
  --MainbgColor: #333333;
  --bgColor: rgba(0, 0, 0, 0.6);
  --bgColor2: rgba(2, 2, 2, 0.6);
  --fontColor: #ffffff;
  --fontColor2: grey;
  --card_bg: rgba(15, 16, 20, 0.7);
  --card-duration-font: rgb(139 148 173);
}

[data-theme="light"] {
  --bgHighlight: #fff;
  --MainbgColor: #cbcbcb;
  --bgColor: rgba(255, 255, 255, 0.8);
  --bgColor2: rgba(250, 250, 250, 0.7);
  --fontColor: #2d2d2d;
  --fontColor2: grey;
  --card_bg: rgba(240, 238, 235, 0.7);
  --card-duration-font: rgb(106, 120, 159);
}

body {
  margin: 2rem 3rem;
  background-color: var(--bgHighlight);
  color: var(--fontColor);
}

#main_container {
  background-color: var(--MainbgColor);
  padding: 1rem 2rem;
  max-width: 100%;
}

a {
  text-decoration: none;
  color: var(--fontColor2);
}

/* Loading Spinner */
.loader_con {
  display: none;
  top: 0;
  left: 0;
  position: absolute;
  z-index: 1000;
  background-color: rgba(174, 181, 191, 0.8);
  width: 100%;
  height: 100vh;
}
.loader {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 16px solid var(--bgColor);
  border-radius: 50%;
  border-top: 16px solid var(--fontColor);
  width: 120px;
  height: 120px;
  -webkit-animation: spin 2s linear infinite; /* Safari */
  animation: spin 2s linear infinite;
}

/* Safari */
@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
